.sidebar {
  width: fit-content;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.sidebar > div {
  height: 100%;
}

/* Icons */
.sidebar > div:nth-child(1) {
  width: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuitem {
  width: 100%;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.menuitem[style-active] {
  box-shadow: inset 0.1em 0px 0px 0px currentColor;
}

/* View */
.sidebar > [style-sidebar-view] {
  width: clamp(
    var(--min-width, 0px),
    attr(data-width px, 0px),
    var(--max-width, 100vw)
  );
}

.sidebar > div:last-child {
  width: 15px;
  z-index: 999;
  position: absolute;
  right: 0;
  transform: translate(50%);
  cursor: e-resize;
}
